body{
  background-color:rgb(246, 240, 241);

}

   .cost-input{
    font-size:15px;
    padding:10px; /* shortcut for adding padding on all sides*/
  
   }

    .calculate-button{
    background-color: rgb(45, 70, 206);
    color:white;
    border: none;
    padding: 12px 15px;
    font-size:15px;
    cursor: pointer;
   }
   
